@media screen and (min-width: 480px) {
    
    /* .customer-list {
        display: flex;
        flex-wrap: wrap;
       
        column-gap: 16px;
        row-gap: 72px;
      } */

}

@media screen and (max-width: 479px) {
    .customer-item {
margin: 0 auto ;
margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .team-item {
       
        margin: 0 auto;
      }

      .team-item:nth-last-child(n + 2) {
        margin-bottom: 72px;
      }
}