@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }


    /* <!------------------ Section about ---------------------> */
    .about-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        max-width: 736px;
        /* flex-basis: calc((100% - 24px) / 2); */
      }

      .about-item {
        width: calc((100% - 24px) / 2);
      }

      /* -------------------Section TEAM----------------- */
      .team-list {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
      }

/* ------------------Section CUSTOMER---------------- */
.customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .customer-item {
    width: 168px;}

    /* -------------------Section FOOTER----------------- */
    .footer {
        padding-left: 108px;
    }
    
    
    
    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
       
        
      }

      .footer-logotext-wrap {
        width: 264px;
        margin-left: 0;
        margin-right: 0;
      }

      .footer-logo {
        display: block;
      }

      .footer-soc-media {
        margin-top: 0;
        margin-left: 0;
      }

      .footer-soc-title {
        text-align: unset;
      }

      .footer-form-wrap {
        width: 100%;
      }

    .footer-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
      }

      .footer-input {
        width: 262px;
        /* padding: 0; */
      }

      .footer-email-btn {
        margin-top: 0;
        margin-left: 0;
      }
  }