@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }


    /* <!------------------ Section about ---------------------> */
    .about-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        max-width: 736px;
        /* flex-basis: calc((100% - 24px) / 2); */
      }

      .about-item {
        width: calc((100% - 24px) / 2);
      }

      /* -------------------Section TEAM----------------- */
      .team-list {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
      }

/* ------------------Section CUSTOMER---------------- */
.customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .customer-item {
    width: 168px;

  }